* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    color: hsl(229, 23%, 23%);
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.card-top {
    position: absolute;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background-color: white;
    top: 200px;
    border-radius: 15px 15px 0 0;
    text-align: center;

    border: 1px solid red;
}


.card-bottom {
    position: absolute;
    margin: 0 auto;
    width: 300px;
    background-color: white;
    top: 300px;
    padding: 80px 0 25px;
    border-radius: 0 0 15px 15px;
    text-align: center;
    z-index: 20;
    background: white url(images/image-victor.jpg) no-repeat center -50%;
} 


/* Name */
h1 {
    font-size: 18px;
}

/* Age */
h1 em {
    padding-left: .4em;
    color: hsl(0, 0%, 59%);
    font-style: normal;
}

/* City */
h2 {
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

/* Stats Area */
.stats {
    line-height: 20px;
    padding-top: 10%;
    border-top: 1px hsla(0, 0%, 59%, 0.2) solid;
}

/* Numbers */
.stats p {
    font-weight: 700;
    font-size: 18px;
    float: left;
    width: 33.3%;
    margin: 0;
}

/* "Followers", "Likes", and "Photos" */
.words {
    letter-spacing: .2em;
    font-weight: 400;
    font-size: 1.2vh;
    color: hsl(0, 0%, 59%);
}

.svg-top  {
    position: fixed;
    bottom: 34%;
    right: 52%;
}

.svg-bottom {
    position: fixed;
    top: 50%;
    left: 47%;
}

footer {
    display: absolute;
    justify-content: center;
}

.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}