* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    color: hsl(229, 23%, 23%);
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.card {
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 375px;
    background-color: white;
    top: 200px;
    padding: 70px 0;
    border-radius: 15px;
    text-align: center;
    background: white url(images/bg-pattern-card.svg) no-repeat top;
    box-shadow: 0 40px 60px 10px hsl(229, 23%, 23%, .3);
} 

/* Photo */
img {
    position: relative;
    top: 18px;
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* Wraps Name, Age, and City */
.wrapper {
    line-height: 15px;
}

/* Name */
h1 {
    font-size: 18px;
    padding-top: 40px;
}

/* Age */
h1 em {
    padding-left: .4em;
    color: hsl(0, 0%, 59%);
    font-style: normal;
    font-weight: normal;
}

/* City */
h2 {
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    padding-bottom: 10px;
}

/* Stats Area */
.stats {
    line-height: 20px;
    padding: 8% 10% 0;
    border-top: 1px hsla(0, 0%, 59%, 0.2) solid;
}

/* Numbers */
.stats p {
    font-weight: 700;
    font-size: 18px;
    float: left;
    width: 33.3%;
}

/* "Followers", "Likes", and "Photos" */
.words {
    letter-spacing: .2em;
    font-weight: 400;
    font-size: 10px;
    color: hsl(0, 0%, 59%);
}

/* TOP BG CIRCLE */
.svg-top  {
    position: fixed;
    bottom: 230px;
    right: 750px;
}

/* BOTTOM BG CIRCLE */
.svg-bottom {
    position: fixed;
    top: 415px;
    left: 675px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}